<div class="form-horizontal">
  <div class="form-group">
    <label for="videoLinkInput" class="col-sm-2 control-label">
      Video link:
    </label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="http://www.youtube.com/watch?v=videoId or http://vimeo.com/videoId" ng-model="videoLink" ng-change="fetchVideo()">
      </div>
    </div>
  </div>

  <div class="video_info">
    <input type="text" ng-model="processingVideo.title">
    <textarea  cols="30" rows="3" ng-model="processingVideo.description"></textarea>
    <img ng-src="{{processingVideo.thumbnail_small}}" alt="video thumbnail | urappzone">
  </div>
</div>