<div class="modal fade" id="newVideoModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add a new video from YouTube or Vimeo</h4>
      </div>
      <div class="modal-body">
      <%=render "fetch_video_form"%>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" ng-click="addVideo()" ng-disabled="!newVideoReady">Add to library</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
