<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jl-navbar-bottom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="jl-navbar-bottom-collapse">
      <ul class="nav navbar-nav">
        <li><a>&copy; Copyright 2013-2014</a></li>
        <li class="copywrite">
          <a href="mailto:urappzone@gmail.com" >@UrAppZone</a>
        </li> 
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="fantasy" href="/aboutus">About Us</a></li>
        <li><a href="//www.facebook.com/jingen.lin.jl"><img src="/img/icons/facebook.png" alt="Jingen Lin's facebook"></a></li>
        <li><a href="//twitter.com/Jingen_Lin"><img src="/img/icons/twitter.png" alt="Jingen Lin's twitter"></a></li>
        <li><a href="//www.linkedin.com/in/jingenlin"><img src="/img/icons/linkedin.png" alt="Jingen Lin's linkedin"></a></li>
      </ul>
    </div>
  </nav>
</div>