<div class="header">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#urappzone-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="urappzone | ur app zone">Ur App Zone</a>
    </div>

    <div class="collapse navbar-collapse" id="urappzone-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li ng-class="{active: isActive('/')}"><a href="/" title="urappzone | ur app zone">Home</a></li>
        <li class="app-nav" ng-class="{active: isActive('/doc_library')}"><a href="/doc_library" title="online document library | urappzone">Document Zone</a></li>
        <li class="app-nav" ng-class="{active: isActive('/video_library')}"><a href="/video_library" title="online video library | urappzone">Video Zone</a></li>
        <li class="app-nav" ng-class="{active: isActive('/image_resizer')}"><a href="/image_resizer" title="image resizer | urappzone">Image Resizer</a></li>
        <li class="app-nav" ng-class="{active: isActive('/spell_checker')}"><a href="/spell_checker" title="grammar and spell checker | urappzone">Spell Checker</a></li>
        <li ng-class="{active: isActive('/aboutus')}"><a href="/aboutus" title="Jingen Lin">About</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
          <li>
            <a class="btn btn-primary btn-auth" href=<%=edit_user_registration_path%>>
            <%=hidden_field_tag 'userEmail', current_user.email%>
            <img class="nav-avatar" src=<%= current_user.avatar.url(:small)%> alt="urappzone thumbnail">
              <%= current_user.email %>
            </a>
          </li>
          <li><a class="btn btn-primary btn-auth" ng-click="logout()">Logout</a></li>
        <%else%>
          <li><a class="btn btn-primary btn-auth" data-toggle="modal" data-target="#signup-modal" id="signupBtn">Sign up</a></li>
          <li><a class="btn btn-primary btn-auth" data-toggle="modal" data-target="#login-modal" id="loginBtn">Login</a></li>
        <%end%>
      </ul>
    </div>
  </nav>
</div>