<div class="logo pull-left">
  <a href="#/">
    <img class="img-circle" src="/img/jingen_lin.jpg" alt="Jingen Lin"></a>
  </div>
</div>

<div id="jingen-lin-landing" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#jingen-lin-landing" data-slide-to="0" class="active"></li>
    <li data-target="#jingen-lin-landing" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/img/landing/jingen-lin1.jpg" alt="Jingen Lin">
      <div class="carousel-caption">
        <h1><strong>Always look for a way to do, not just a reason</strong></h1>
        <p class="cursive">-- Lin, Jingen</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/landing/jingen-lin2.jpg" alt="Jingen Lin">
      <div class="carousel-caption">
        <h1>Ruby on Rails, Java, PHP, Javascript/Coffeescript, HTML, CSS/SASS, SQL/NoSQL</h1>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#jingen-lin-landing" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#jingen-lin-landing" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>