<div class="logo pull-left">
  <a href="#/">
    <img class="img-circle" src="/img/urappzone.png" alt="Jingen Lin"></a>
  </div>
</div>

<div id="jingen-lin-landing" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#jingen-lin-landing" data-slide-to="0" class="active"></li>
    <li data-target="#jingen-lin-landing" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img class="landing-img" src="/img/landing/urappzone1.png" alt="Ur App Zone">
      <div class="carousel-caption">
        <h1>"Ur App Zone" makes your life easier! Enjoy!</h1>
      </div>
    </div>
    <div class="item">
      <img class="landing-img" src="/img/landing/urappzone2.png" alt="Ur App Zone">
      <div class="carousel-caption">
       <h1>"Always look for a way to do, not just a reason!"</h1>
     </div>
    </div>
  </div>
  <a class="left carousel-control" href="#jingen-lin-landing" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#jingen-lin-landing" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>