<meta charset="UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="/img/urappzone_icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Ur App Zone, your app zone, urappzone, appzone, urapp zone, Best Applications, Jingen Lin, Lin Jingen, Web Developer, Software Engineer, Computer Scientist, USA, China">
<meta name="description" content="Creating your private online document/video library, easily resizing images and checking texts. | urappzone">
<link rel="author" href="//plus.google.com/+JingenLinJL">
<link rel="publisher" href="http://www.linjingen.com"> 
<link rel="canonical" href="http://www.urappzone.com"> 
<link rel="prev" href="http://www.urappzone.com"> 
<link rel="next" href="http://www.urappzone.com"> 
<div itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="urappzone">
  <meta itemprop="brand" content="Ur App Zone">
  <meta itemprop="founder" content="Jingen Lin">
  <link itemprop="url" href="http://www.urappzone.com">
  <meta name="description" content="Creating your private online document/video library, easily resizing images and checking texts. | urappzone">
  <div itemprop="review" itemscope itemtype="http://schema.org/Review">
    <meta itemprop="name" content="Ur App Zone">
    <meta itemprop="author" content="Jingen Lin">
    <meta itemprop="datePublished" content="2013-12-28">
    <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <meta itemprop="worstRating" content="1">
      <meta itemprop="ratingValue" content="5">
      <meta itemprop="bestRating" content="5">
    </div>
  </div>
</div>
<div itemscope itemtype="http://schema.org/Person">
  <meta itemprop="name" content="Jingen Lin">
  <meta itemprop="image" url="http://www.linjingen.com/img/jingen_lin.jpg">
  <meta itemprop="description" content="Jingen Lin is an excellent Software Engineer, Web Application Developer, Computer Scientist, holds an master degree in Computer Science from New York University, Courant Institute">
  <meta itemprop="jobTitle" content="Software Engineer, Web Developer, Computer Scientist">
  <link itemprop="url" href="http://www.cs.nyu.edu/~jl4527/">
  <link itemprop="url" href="//www.linkedin.com/in/jingenlin"> 
  <link itemprop="url" href="//twitter.com/Jingen_Lin"> 
  <link itemprop="url" href="//www.facebook.com/jingen.lin.jl">
  <link itemprop="url" href="//github.com/jingen"> 
  <link itemprop="url" href="http://www.linjingen.com">
  <meta itemprop="description" content="林敬恩, 网络应用工程师, 软件工程师, 留美计算机科学家.">
</div>
