<div class="modal fade" id="login-modal" ng-controller="UserController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Login</h3>
      </div>
      <div class="modal-body">
         <form accept-charset="UTF-8" class="new_user form-horizontal" id="new_user">
          <div class="form-group">
            <label for="loginEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                 <input type="email" class="form-control" autofocus="autofocus" name="email" id="loginEmail" placeholder="Email" ng-model="user.email" auto-fill-sync>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" ng-model="user.password" auto-fill-sync>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="user.remember_me" ng-true-value="1" ng-false-value="0"> Remember me
                </label>
             </div>
           </div>
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <div class="pull-left">
         <a href="/users/password/new">Forgot password?</a>
       </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="login()">Login</button>
     </div>
     <div class="alert alert-danger" ng-show="loginError">
      <a class="close" ng-click="loginError = false">&times;</a>
      <strong>Sorry!</strong> {{loginErrorMsg}} 
     </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="signup-modal" ng-controller="UserController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Sign up</h3>
      </div>
      <div class="modal-body">
         <form accept-charset="UTF-8" class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                 <input type="email" class="form-control" autofocus="autofocus" placeholder="Email" ng-model="user.email">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="col-sm-3 control-label">Confirmation</label>
            <div class="col-sm-7">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password_confirmation">
              </div>
            </div>
          </div>
       </form>
     </div>
     <div class="modal-footer">
       <div class="pull-left">
         <a href="/users/password/new">Forgot password?</a>
       </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="signup()">Sign up</button>
     </div>
     <div class="alert alert-danger" ng-show="signupError">
      <a class="close" ng-click="signupError = false">&times;</a>
        <p><strong>Sorry! Errors occurred!</strong></p>
        <p ng-repeat="(item, msg) in signupErrorMsg">
          <span class="text-capitalize">{{item}} </span>{{msg[0]}}
        </p>
     </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="contact-modal" ng-controller="HomeController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">Contact Me</h3>
      </div>
      <div class="modal-body">
         <form class="form-horizontal">

          <div class="form-group">
            <label for="inputName" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-7">
              <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                 <input type="text" class="form-control" autofocus="autofocus" name="name" id="inputName" placeholder="Enter your name" ng-model="contact.name">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <div class="input-group">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-inbox"></i></span>
                 <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Enter your email" ng-model="contact.email">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="inputMsg" class="col-sm-3 control-label">Message</label>
            <div class="col-sm-7">
               <textarea class="form-control" name="message" id="inputMsg" placeholder="Enter your messages" ng-model="contact.message" cols="30" rows="10">
               </textarea>
           </div>
         </div>


       </form>
     </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendMsg()">Send Message</button>
     </div>

      <div class="alert alert-danger" ng-show="sendMsgError" ng-cloak>
      <a class="close" ng-click="sendMsgError = false">&times;</a>
        <p><strong>Sorry! Errors occurred!</strong></p>
     </div>
  </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
