<div class="panel panel-info">
  <div class="panel-heading"><h1 class="monospace">Your App Zone</h1></div>
  <div class="panel-body text-center">
    
    <div class="row">

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="app-title doc-library">
            <b>Document Zone</b>
          </div>
          <a href="/doc_library" title="urappzone online document library">
            <img src="/img/landing/doc_library_icon.jpg" alt="document library">
          </a>
          <div class="caption">
            <p>Organize, save and share your PDF and Microsoft Office documents</p>
            <p><a href="/doc_library" class="btn btn-primary btn-lg" role="button">continue</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="app-title">
            <b>Video Zone</b>
          </div>
          <a href="/video_library" title="urappzone online video library">
            <img src="/img/landing/video_library_icon.png" alt="video library">
          </a>
          <div class="caption">
            <p>Online video library, organize, save and share your favorite videos</p>
            <p><a href="/video_library" class="btn btn-primary btn-lg" role="button">continue</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="app-title">
            <b>Image Resizer</b>
          </div>
          <a href="/image_resizer" title="urappzone image resizer">
            <img src="/img/landing/image_resizer_icons.png" alt="image resizer">
          </a>
          <div class="caption">
            <p>Easily resize, crop and edit your images online for free</p>
            <p><a href="/image_resizer" class="btn btn-primary btn-lg" role="button">continue</a> </p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="app-title">
            <b>Spell Checker</b>
          </div>
          <a href="/spell_checker" title="urappzone grammar and spell checker">
            <img src="/img/landing/spell_check_icon.jpg" alt="spell checker">
          </a>
          <div class="caption">
            <p>Find common spelling errors and grammatical mistakes in English</p>
            <p><a href="/spell_checker" class="btn btn-primary btn-lg" role="button">continue</a> </p>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>