<%content_for(:title) {"Jingen Lin | Experienced Software Engineer / Web Application Developer"}%>
<%content_for(:meta) do -%>
<meta name="description" content="Jingen Lin is an excellent Software Engineer, Web Application Developer, Computer Scientist, holds an master degree in Computer Science from New York University, Courant Institute"> 
<%end-%>
<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h1>Founder</h1>
  </div>

  <div class="panel-body">
    <div class="well">
      <div class="row author">
        <div class="col-sm-2">
          <img class="img-thumbnail" src="/img/jingen_lin.jpg" alt="Founder | Jingen Lin">
        </div>

        <div class="col-sm-9">
          <h2><a href="/aboutus" class="fantasy">Jingen Lin, Experienced Software Engineer / Web Application Developer</a></h2>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Developed web applications</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="http://www.urappzone.com" title="urappzone | Ur App Zone">Ur App Zone</a> (Ruby on Rails, MongoDB, AngularJS, jQuery, Bootstrap) - Founder
              </li>
              <li class="list-group-item">
                <a href="http://www.nyu.edu/cas/flpexam" title="New York University Language Placement Examinations">New York University Language Placement Examinations</a> (PHP, MySQL, AngularJS, jQuery, Bootstrap) - Author 
              </li>
              <li class="list-group-item">
                <a href="http://www.nyu.edu/cas/parentscalendar" title="NYU College of Arts and Science Parents' Calendar">NYU College of Arts and Science Parents' Calendar</a> (PHP, MySQL, AngularJS, Bootstrap) - Author
              </li>
              <li class="list-group-item">
                <a href="http://www.openassembly.com" title="Open Assembly">Open Assembly</a> (Ruby on Rails, MongoDB, AngularJS, Angular UI, Bootstrap) - Major Contributer 
              </li>
              <li class="list-group-item">
                <a href="//www.nyu.edu/cas/prehealth/newsletter/prehealth.php" title="Prehealth newsletter">NYU online newsletters for Prehealth Community</a> (PHP, MySQL, jQuery) - Author
              </li>
              <li class="list-group-item">
                <a href="//www.nyu.edu/cas/prehealth/newsletter/prelaw.php" title="Prelaw newsletter">NYU online newsletters for Prelaw Community</a> (PHP, MySQL, jQuery) - Author
              </li>
            </ul>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3>Skill set</h3>
            </div>
            <div class="panel-body">
              <p class="emphasize">Proficient in Ruby, Java, PHP, SQL/NoSQL, JavaScript, CoffeeScript, HTML, CSS, SASS</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Frameworks: Ruby on Rails, AngularJS, CakePHP, jQuery, Twitter Bootstrap(2&3), Angular UI, jQuery UI</li>
              <li class="list-group-item">Databases: MySQL, MongoDB</li>
              <li class="list-group-item">Development tools & environments: Git, Compass, AWS EC2, AWS S3, Mac, Ubuntu, Nginx, Apache</li>
              <li class="list-group-item">Experienced with Python, JSON, XML, AJAX, C/C++, Shell Scripting</li>
            </ul>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3>Work experience</h3>
            </div>
            <div class="panel-body">
              <p class="emphasize">Open Assembly Inc., Software Engineer</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                Developed the course-sharing platform using Ruby on Rails & CakePHP
              </li>
              <li class="list-group-item">
                Developed backend RESTful services (Rails && PHP)
              </li>
              <li class="list-group-item">
               Established data models and designed document structures with MongoDB 
              </li>
              <li class="list-group-item">
                Developed interactive client-side webpages and GUI widgets using jQuery , AngularJS, jQueryUI
              </li>
              <li class="list-group-item">
                Deployed and maintained applications on AWS EC2 and AWS S3
              </li>
            </ul>

            <div class="panel-body">
              <p class="emphasize">New York University, College of Arts and Science, Web Developer</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                Developed backend RESTful services (PHP)
              </li>
              <li class="list-group-item">
                Developed & maintained database (MySQL)
              </li>
              <li class="list-group-item">
                Designed and developed front end (AngularJS, jQuery, Bootstrap)
              </li>
            </ul>

            <div class="panel-body">
              <p class="emphasize">Metropolis Marketing Media, Developer</p>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                Developed features by using CakePHP and jQuery
              </li>
              <li class="list-group-item">
                MySQL performance tunning using denormalization and creating additional indexes 
             </li>
            </ul>

          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3>Academic Projects</h3>
            </div>
            <div class="panel-body">
              <p class="emphasize">Web Search Engine (Java)</p>
              <p>Designed Indexer and Implemented data structure and access methods</p>
              <p>Constructed Ranker and Implemented Query Likelihood and Cosine Similarity algorithms</p>
            </div>
            <div class="panel-body">
              <p class="emphasize">Advanced Database System (Java)</p>
              <p>Designed and implemented a pseudo-distributed concurrency database</p>
              <p>Implemented two phase locking and available copy algorithm coded in JAVA</p>
            </div>

            <div class="panel-body">
              <p class="emphasize">Temporal Information Extracting System, Natural Language Processing (Ruby, Java)</p>
              <p>Constructed components to parse sentences and tag part of speech for each word</p>
              <p>Designed and developed features to extract the main information of sentences</p>
            </div>
            <div class="panel-body">
              <p class="emphasize">Financial Computing Project (Java)</p>
              <p>Designed and implemented Yield Curve Objects and Bonds Objects to calculated prices, interest and yield-to-maturity.</p>
              <p>Constructed and implemented a stock exchange system that accepts the order messages and trades orders</p>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Education</h3>
            </div>
            <div class="panel-body">
              <p class="emphasize">New York University, Courant Institute, GPA: 3.733/4.0</p>
              <p>Master of Science in Computer Science</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="scrollup"></div>