<%=render "shared/landingimg"%>
<%if !user_signed_in?%>
  <div class="jumbotron">
    <div class="container">
      <h2 class="welcome-title cursive">Welcome to "Ur App zone"!</h2>
      <p>Get an account for better experience. It’s free and always will be.</p>
      <p><a class="btn btn-primary btn-lg" data-toggle="modal" data-target="#signup-modal">Sign up now &raquo;</a></p>
    </div>
  </div>
<%-end%>

