<div class="modal fade" id="documentUpload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Document</h4>
      </div>
      <div class="modal-body">
        <%=render "upload_form"%>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" ng-click="addDoc()" ng-disabled="!readyUpload">Add to library</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="documentView">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{viewDoc.title}}</h4>
        <p>{{viewDoc.description}}</p>
      </div>
      <div class="modal-body">
        <iframe class="doc_view_ifr" ng-src="{{ viewDoc.view_url }}" ng-cloak></iframe>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->