<form class="form-horizontal upload_form" role="form">
  <div class="form-group">
    <label for="docTitle" class="col-sm-3 control-label">Title</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="docTitle" placeholder="Enter title..." ng-model="newDoc.title" ng-change="readyCheck()">
    </div>
    <div class="col-sm-2 no_left_padding" ng-hide="newDoc.title">
      <p class="text-danger">*require</p>
    </div>
  </div>

  <div class="form-group">
    <label for="docDescription" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-7">
      <textarea class="form-control" id="docDescription" rows="3" placeholder="Enter description..." ng-model="newDoc.description" ng-change="readyCheck()"></textarea>
    </div>
    <div class="col-sm-2 no_left_padding" ng-hide="newDoc.description">
      <p class="text-danger">*require</p>
    </div>
  </div>

  <div class="form-group">
    <label for="docFile" class="col-sm-3 control-label">My document</label>
    <div class="col-sm-7">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" id="docFile" ng-file-select="onFileSelect($files)" accept=".pdf, .doc, .docx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></span>
        <span class="fileinput-filename"></span>
        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
      </div>
    </div>
    <div class="col-sm-2 no_left_padding" ng-hide="file">
      <p class="text-danger">*require</p>
    </div>
  </div>
</form>