<%=stylesheet "words"%>
<%=javascript "app_words"%>
<div class="checker-title text-left">
  <h2 class="fantasy">Online spell checking</h3>
  <h4 class="text-muted">Enter your sentences or words and click "Check" button</h4>
</div>

<div ng-controller="SpellCheck">
  <div class="well well-lg text-center" >
    <textarea class="words-input form-control" rows="6" ng-model="words"></textarea>
    <hr>
    <button class="btn btn-primary btn-lg" ng-click="check()">Check</button>
  </div>

  <div class="panel panel-success" ng-cloak ng-show="results.length > 0">
    <div class="panel-heading">Results:</div>
      <ul class="list-group">
    <li class="list-group-item" ng-repeat="result in results">
      <div class="alert alert-danger">
        <p>Word: {{result.string}}</p>
        <p>Error: {{result.description}}</p>
        <span>Suggestion:</span>
        <ul class="suggestion-list">
          <li ng-repeat="suggestion in result.suggestions">{{suggestion}}</li>
        </ul>
      </div>
    </li>
  </ul>
  </div>

  <div class="panel panel-success" ng-cloak ng-show="noError">
    <div class="panel-heading">Congraduations! No error was detected!</div>
  </div>
</div>
