.doc_facebook{
  height: 20px;
}

.add_new_doc{
  padding: 30px 35px;
  margin: 6px 6px 6px 0;
  border: dashed 2px silver;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
}

.alpha-order{
  padding-top: 8px;
  a{
    cursor: pointer;
  }
}

.doc_main{
  .well{
    margin-top: 15px;
  }
  .alert{
    margin-top: 5px;
    margin-bottom: 0;
    display: inline-block;
  }
}

.doc_brick{
    padding: 0;
  a {
    cursor: pointer;
  }
  .doc_content{
    border: solid 1px silver;
    padding: 10px 10px;
    margin: 5px;
    .dropdown{
      padding-top: 9px;
    }
  }
  display: inline-block;
  .thumbnail{
    width: 200px;
    height: 258px;
    display: inline-block;
  }
  .doc_title, .doc_description{
    padding-left: 26px;
    text-transform: capitalize;
    width: 233px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .doc_title{
    white-space: nowrap;
    width: 91%;
    height: 1em;
    float: left;
  }
  .doc_description{
    height: 3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .menu-arrow{
    width: 22px;
  }
}

.upload_form{
  .text-danger{
    padding-top: 6px;
  }
}
.no_left_padding{
  padding-left: 0;
}

@media (max-width: 768px){
  #documentView .modal-dialog{
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .doc_brick .doc_content{
    margin-left: 85px;
  }
}

@media (max-width: 450px) {
  .doc_brick .doc_content{
    margin-left: 12px;
  }
}

#documentView{
  .modal-header{
    padding: 10px 10px 5px;
  }
  .modal-body{
    padding: 5px;
  }
  .doc_view_ifr{
    width: 100%;
    min-height: 530px;
  }
  .modal-dialog{
    width: 72%;
  }
}

#documentUpload, #documentEditUpload{
  .modal-footer{
    margin-top: 0;
  }
}