.user-info{
  padding-top: 10px;
  .help-block{
    margin-bottom: 0;
  }
  .alert{
    margin-left: 72px;
    width: 508px;
  }
}
.btn-profile{
  margin-left: 239px;
}
.btn-reset{
  margin-left: 42px;
}
.btn-login{
  height: 39px;
}
.sign_in_with_facebook{
  height: 36px;
}
.sign_in_with_linkedin, .sign_in_with_google{
  height: 34px;
  border-radius: 5px;
}
