 .logo{
  position: absolute;
  top: 108px;
  left: 133px; 
  z-index: 10;
  img{
    width: 200px;
  }
}
//sphere
.jumbotron{
  padding-top: 30px;
  padding-bottom: 30px;
}
.landing_main{
  padding-top: 25px;
}

@media (max-width: 996px){
  .landing_main{
    width: 100%;
  }
  .landing_sphere{
    display: none;
  }
}

//end
#jingen-lin-landing{
  .landing-img{
    width: 100%;
  }
  h1{
    margin-left: 55px;
  }
}

#jingen-lin-landing .carousel-caption{
  bottom: 150px;
}
@media (max-width:1380px) { 
  #jingen-lin-landing .carousel-caption{
    bottom: 120px;
  }
  h1{
    font-size: 30px;
  }
}
@media (max-width:1200px) { 
  #jingen-lin-landing .carousel-caption{
    bottom: 80px;
    h1{
      font-size: 25px;
    }
  }
}
@media (max-width:1050px) { 
  .logo{
    top: 100px;
    left: 120px;
    img {
      width: 80%;
    }
  }
  #jingen-lin-landing .carousel-caption{
    bottom: 50px;
    h1{
      font-size: 19px;
    }
  }
}
@media (max-width:900px) { 
  .logo{
    top: 80px;
    left: 110px;
    img {
      width: 60%;
    }
  }
}
@media (max-width:750px) { 
  .logo{
    top: 70px;
    left: 90px;
    img {
      width: 50%;
    }
  }
  #jingen-lin-landing .carousel-caption{
    bottom: 30px;
    h1{
      font-size: 15px;
    }
  }

}
@media (max-width:600px){
  .logo{
    top: 70px;
    left: 60px;
    img {
      width: 30%;
    }
  }
  #jingen-lin-landing .carousel-caption{
    bottom: 30px;
    h1{
      font-size: 12px;
    }
  }
}
@media (max-width:450px) { 

  #jingen-lin-landing .carousel-caption{
    display: none;
  }
}

.welcome-title{
  font-size: 43px;
  margin-bottom: 20px;
}

.sign_in_with_facebook{
  height: 48px;
}

.text-capitalize{
  text-transform: capitalize;
}

// aboutus
.author {
 margin-left: 25px; 
 p{
  font-size: 20px;
 }
 li{
  font-size: 18px;
 }
}
.emphasize{
  font-weight: bold;
}

.scrollup{
  width:65px;
  height:68px;
  opacity:0.5;
  position:fixed;
  bottom:95px;
  right:50px;
  display:none;
  background-image: url(/img/icons/scroll_to_top.jpg) ;  
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 17px;
  padding: 9px;
  text-align: center;
  line-height: 1em;
  cursor: pointer;
}
.scrollup:hover{
  opacity: 0.9;
  color: white;
}

.thumbnail img{
  width: 200px;
  height: 200px;
  margin-top: 9px;
}

.app-title{
  background-image: url(/img/landing/ribbon.png);
  background-repeat: no-repeat;
  width: 154px;
  height: 43px;
  color: #fff;
  text-align: left;
  padding: 5px 23px;
  position: relative;
  left: -27px;
  top: 10px;
}
.doc-library{
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 500px){
  .welcome-title{
    font-size: 35px;
  }
  .welcome-text{
    font-size: 14px;
  }
  .welcome-signup-btn, .welcome-signup-facebook{
    display: block;
  }
  .welcome-signup-btn{
    width: 257px;
  }
}

@media (max-width: 360px){
  .welcome-title{
    span {
      display: none;
    }
  }
}